# Student Loan Risk with Deep Learning

In [15]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [16]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [17]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [18]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [19]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"]

# Display a sample of y
display(y.head())

0    0
1    0
2    0
3    1
4    0
Name: credit_ranking, dtype: int64

In [20]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns="credit_ranking")

# Review the features DataFrame
display(X.head())

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [21]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [22]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [ ]:
# Define the the number of inputs (features) to the model
input_nodes = len(X.columns)

# Review the number of features
len(X.columns)

11

In [31]:
# Define the number of hidden nodes for the first hidden layer
first_hidden_layer = tf.keras.layers.Dense(units=6, input_dim=input_nodes, activation='relu')

# Define the number of hidden nodes for the second hidden layer
second_hidden_layer = tf.keras.layers.Dense(units=3, activation='relu')

# Define the number of neurons in the output layer
output_layer = tf.keras.layers.Dense(units=1, activation='sigmoid')

In [32]:
# Create the Sequential model instance
nn_model = tf.keras.models.Sequential()

# Add the first hidden layer
nn_model.add(first_hidden_layer)

# Add the second hidden layer
nn_model.add(second_hidden_layer)

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(output_layer)

In [33]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 6)                 72

 dense_4 (Dense)             (None, 3)                 21

 dense_5 (Dense)             (None, 1)                 4

=================================================================
Total params: 97
Trainable params: 97
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [34]:
# Compile the Sequential model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [35]:
# Fit the model using 50 epochs and the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50

2024-12-03 02:40:47.648211: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

38/38 [==============================] - 0s 557us/step - loss: 0.7343 - accuracy: 0.4987
Epoch 2/50
38/38 [==============================] - 0s 567us/step - loss: 0.7039 - accuracy: 0.5379
Epoch 3/50
38/38 [==============================] - 0s 499us/step - loss: 0.6879 - accuracy: 0.6080
Epoch 4/50
38/38 [==============================] - 0s 470us/step - loss: 0.6767 - accuracy: 0.6530
Epoch 5/50
38/38 [==============================] - 0s 446us/step - loss: 0.6658 - accuracy: 0.6714
Epoch 6/50
38/38 [==============================] - 0s 478us/step - loss: 0.6545 - accuracy: 0.6956
Epoch 7/50
38/38 [==============================] - 0s 472us/step - loss: 0.6430 - accuracy: 0.7048
Epoch 8/50
38/38 [==============================] - 0s 458us/step - loss: 0.6326 - accuracy: 0.7139
Epoch 9/50
38/38 [==============================] - 0s 453us/step - loss: 0.6229 - accuracy: 0.7164
Epoch 10/50
38/38 [==============================] - 0s 465us/step - loss: 0.6140 - accuracy: 0.7206
Epoch 11/50
38/38 [==============================] - 0s 454us/step - loss: 0.6066 - accuracy: 0.7248
Epoch 12/50
38/38 [==============================] - 0s 461us/step - loss: 0.5991 - accuracy: 0.7306
Epoch 13/50
38/38 [==============================] - 0s 473us/step - loss: 0.5932 - accuracy: 0.7323
Epoch 14/50
38/38 [==============================] - 0s 480us/step - loss: 0.5871 - accuracy: 0.7356
Epoch 15/50
38/38 [==============================] - 0s 478us/step - loss: 0.5822 - accuracy: 0.7339
Epoch 16/50
38/38 [==============================] - 0s 446us/step - loss: 0.5767 - accuracy: 0.7348
Epoch 17/50
38/38 [==============================] - 0s 539us/step - loss: 0.5720 - accuracy: 0.7373
Epoch 18/50
38/38 [==============================] - 0s 471us/step - loss: 0.5678 - accuracy: 0.7398
Epoch 19/50
38/38 [==============================] - 0s 474us/step - loss: 0.5637 - accuracy: 0.7448
Epoch 20/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5599 - accuracy: 0.7490
Epoch 21/50
38/38 [==============================] - 0s 583us/step - loss: 0.5564 - accuracy: 0.7506
Epoch 22/50
38/38 [==============================] - 0s 421us/step - loss: 0.5528 - accuracy: 0.7540
Epoch 23/50
38/38 [==============================] - 0s 465us/step - loss: 0.5496 - accuracy: 0.7548
Epoch 24/50
38/38 [==============================] - 0s 460us/step - loss: 0.5462 - accuracy: 0.7598
Epoch 25/50
38/38 [==============================] - 0s 447us/step - loss: 0.5432 - accuracy: 0.7540
Epoch 26/50
38/38 [==============================] - 0s 507us/step - loss: 0.5407 - accuracy: 0.7631
Epoch 27/50
38/38 [==============================] - 0s 452us/step - loss: 0.5368 - accuracy: 0.7615
Epoch 28/50
38/38 [==============================] - 0s 457us/step - loss: 0.5340 - accuracy: 0.7665
Epoch 29/50
38/38 [==============================] - 0s 480us/step - loss: 0.5314 - accuracy: 0.7640
Epoch 30/50
38/38 [==============================] - 0s 476us/step - loss: 0.5287 - accuracy: 0.7690
Epoch 31/50
38/38 [==============================] - 0s 466us/step - loss: 0.5263 - accuracy: 0.7690
Epoch 32/50
38/38 [==============================] - 0s 478us/step - loss: 0.5240 - accuracy: 0.7723
Epoch 33/50
38/38 [==============================] - 0s 474us/step - loss: 0.5218 - accuracy: 0.7715
Epoch 34/50
38/38 [==============================] - 0s 466us/step - loss: 0.5200 - accuracy: 0.7731
Epoch 35/50
38/38 [==============================] - 0s 475us/step - loss: 0.5179 - accuracy: 0.7715
Epoch 36/50
38/38 [==============================] - 0s 439us/step - loss: 0.5159 - accuracy: 0.7731
Epoch 37/50
38/38 [==============================] - 0s 453us/step - loss: 0.5141 - accuracy: 0.7698
Epoch 38/50
38/38 [==============================] - 0s 469us/step - loss: 0.5118 - accuracy: 0.7723
Epoch 39/50
38/38 [==============================] - 0s 466us/step - loss: 0.5107 - accuracy: 0.7731
Epoch 40/50
38/38 [==============================] - 0s 468us/step - loss: 0.5087 - accuracy: 0.7715
Epoch 41/50
38/38 [==============================] - 0s 454us/step - loss: 0.5070 - accuracy: 0.7740
Epoch 42/50
38/38 [==============================] - 0s 451us/step - loss: 0.5059 - accuracy: 0.7731
Epoch 43/50
38/38 [==============================] - 0s 482us/step - loss: 0.5042 - accuracy: 0.7748
Epoch 44/50
38/38 [==============================] - 0s 473us/step - loss: 0.5027 - accuracy: 0.7740
Epoch 45/50
38/38 [==============================] - 0s 453us/step - loss: 0.5013 - accuracy: 0.7748
Epoch 46/50
38/38 [==============================] - 0s 471us/step - loss: 0.5000 - accuracy: 0.7748
Epoch 47/50
38/38 [==============================] - 0s 479us/step - loss: 0.4986 - accuracy: 0.7765
Epoch 48/50
38/38 [==============================] - 0s 448us/step - loss: 0.4973 - accuracy: 0.7756
Epoch 49/50
38/38 [==============================] - 0s 469us/step - loss: 0.4962 - accuracy: 0.7756
Epoch 50/50
38/38 [==============================] - 0s 481us/step - loss: 0.4950 - accuracy: 0.7756

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [36]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.5204 - accuracy: 0.7550 - 75ms/epoch - 6ms/step
Loss: 0.5203871130943298, Accuracy: 0.7549999952316284

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [37]:
import os
# Set the model's file path
model_file_path = os.path.join("models", "student_loans.keras")

# Export your model to a keras file
nn_model.save(model_file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [39]:
# Set the model's file path
model_file_path = os.path.join("models", "student_loans.keras")

# Load the model to a new object
loaded_model = tf.keras.models.load_model(model_file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [45]:
# Make predictions with the test data
predictions = loaded_model.predict(X_test_scaled)

# Display a sample of the predictions
predictions[:5]

13/13 [==============================] - 0s 421us/step

array([[0.47367755],
       [0.3576776 ],
       [0.7640637 ],
       [0.667003  ],
       [0.7640637 ]], dtype=float32)

In [51]:
# Save the predictions to a DataFrame and round the predictions to binary results
binary_predictions = [1.0 if pred > 0.5 else 0.0 for pred in predictions]
predictions_df = pd.DataFrame({
    'predictions': binary_predictions,
})
predictions_df

     predictions
0            0.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [52]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df))

              precision    recall  f1-score   support

           0       0.73      0.76      0.74       188
           1       0.78      0.75      0.77       212

    accuracy                           0.76       400
   macro avg       0.75      0.76      0.75       400
weighted avg       0.76      0.76      0.76       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**